body { 
  font-family: sans-serif; 
  font-size: 11pt; 
  margin: 0px;
  padding: 0px; 
  background-color: #EDEDED;; 
  height:100%
}

a {
  color:#3875D7;
  text-decoration:none;
}
a:hover {
  cursor: pointer;
  text-decoration:underline;
}

.spinner {
  float:right;
  padding:4px;
  position:relative;
}
.spinner > .mouseover {
  font-size:80%;
  position:absolute;
  white-space:nowrap;
  right:0px;
  top:20px;
  border:1px solid #808080;
  background:#FFFFE8;
  -moz-border-radius: 1em; 
  -moz-box-shadow: #bbb 2px 2px 1px; 
  padding:4px;
}

.displaymode {
  font-size:80%;
  float:right;
  padding:4px;
}

.person {
  width:auto;
  margin-left:16px;
  margin-right:16px;
  margin-top:16px;
  padding:16px;
  min-height:74px;
  -moz-border-radius: 1em; 
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(185,185,185,1);
	-moz-box-shadow: 
		inset rgba(255, 255, 255, 0.5) 0 1px 0px,
		inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 0px;
}
.contactMethods {
  margin-left:0px;
}

.photo {
  width: 68px; 
  height: 68px; 
  position: absolute; 
}
.profilePhoto {
  margin: 0em; 
  padding: 0em; 
  width: 64px; 
  height: 64px; 
}
.listedPhoto {

}

.displayName {
  font:caption;
  margin-left:74px;
  font-size:120%;
  font-weight:bold;
  padding-bottom:16px;
  min-height:40px;
}
.org {
  font:caption;
  font-size:90%;
  font-weight:normal;
}
.vlist_title {
  font:small-caption;
/*  border-bottom:1px dotted #808080;*/
}

.subsecHead {
  width:400px;
  margin-left:74px;
  font:small-caption;
  margin-bottom:4px;
  border-bottom:1px dotted #808080;
}

.vlist {
/*  margin-left:74px;*/
  padding-bottom:8px;
  width:auto;
}
.photolist {
  margin-left:132px;
  padding-left:0px;
  list-style:none
}

.photolist li {
  padding-right:8px;
  display:inline-block
}

.item_overflow_link {
  padding-top:2px;
  margin-left:132px;
  font:small-caption;
  font-weight:normal;
}
.item_overflow_link a {
  color:#808080;
  text-decoration:none
}
.item_overflow_link a:hover {
  color:#3875D7;
  text-decoration:underline
}

.type {
  display:inline-block;
  font:small-caption;
  font-weight:normal;
  color:#808080;
  width:120px;
  text-align:right;
  overflow:hidden;
  vertical-align:top;
}
.value {
  padding-left:12px;
  font:small-caption;
  font-weight:normal;
  display:inline-block;
  white-space:normal;
  width:auto
}
#updates {
  white-space:nowrap;
}
#notes {
  white-space:nowrap;
}
#notes > .item {
  white-space:nowrap;
}
#notes > .item > .value {
  padding-right:110px;
}

.item {
  white-space:normal;
}
.update {
  padding-left:12px;
  font:small-caption;
  font-weight:normal;
  display:inline-block;
  white-space:normal;
}
.updateimg {
  padding-bottom:4px;
}

.updatefavicon {
  padding-right:4px;
}
.valuefavicon {
  padding-right:4px;
}

.update > .text {
  color:#075FB2;
}
.update > .pubdate {
  font-size:80%;
  color:#808080;
}
.update > .source {
  font-size:80%;
  color:#808080;
}
.update > .source > a {
  color:#808080;
  text-decoration:none
}

.update > .source > a:hover {
  color:#3875D7;
  text-decoration:underline
}

.service {
  margin-left:74px;
  font:small-caption;
}

.servicedetail {
}
.detailcontrols {
  text-align:right;
  padding-top:16px;
  padding-right:32px;
  font:small-caption;
  font-weight:normal;
} 
.detailcontrols a {
  color:#3875D7
}

.servicedetail > .header {
  font:small-caption;
  border-bottom:1px solid #808080;
  margin-top:16px;
}
.servicedetail > .subhead {
  vertical-align:top;
  font:small-caption;
}
.servicedetail > .subhead > .nestbox {
  margin-left:16px;
}

.servicedetail > .subhead > .item {
  margin-left:16px;
}
.servicedetail > .slot > .svcdetaillabel {
  width:116px;
}
.servicedetail > .subhead > .nestbox > .slot > .svcdetaillabel {
  width:100px;
}
.counteditem {
  margin-left:16px;
}
.counteditem > .slot > .svcdetaillabel {
  margin-left:8px;
  width:92px;
}
.svccountedlabel {
  font:small-caption;
  width:100px;
  font-style:italic;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  vertical-align:top
}


.svcdetaillabel {
  font:small-caption;
  width:100px;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  vertical-align:top
}
.svcdetailvalue {
  padding-left:6px;
  display:inline-block;
  font:small-caption;
  width:400px;
  font-weight:normal;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.svcdetailvaluerel {
  font-style:italic
}

